@model _404DevRequest.Models.TodoItem

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TodoItem</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" class="todo-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group ">
                <label asp-for="TaskTitle" class=" form-label"></label>
                <input asp-for="TaskTitle" class="todo-input" />
                <span asp-validation-for="TaskTitle" class="text-danger"></span>
            </div>
          @*  <div class="form-group">
                <label asp-for="CreatedAt" class=" form-label"></label>
                <input asp-for="CreatedAt" class="todo-input" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Description" class=" form-label"></label>
                <input asp-for="Description" class="todo-input" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class=" form-label"></label>
                <select asp-for="Priority" class="todo-input">
                    <option value="1">Low</option>
                    <option value="2">Medium</option>
                    <option value="3">High</option>
                </select>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
